@model PersonalCard.Models.ApiModel
@{
    ViewBag.Title = "Получение токена";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<form asp-controller="Api" asp-action="Index" method="post">
    Site: <input asp-for="site" /> <br />
    Организация: <input asp-for="organisation" /> <br />
    <button type="submit">Сохранить</button>
</form>
}