@model PersonalCard.Models.Medicals

@{
    ViewBag.Title = "Диагноз";
}

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="contenier ml-3 mt-4">
    <div class="contenier-fluid">
        <div class="container-fluid">
            <div class="row">
                @foreach (var Events in Model)
                {
                <div class="card col-lg-6 col-xl-2" style="width: 18rem;">
                    <img class="card-img-top" src="~/Content/img/2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Events.name</h5>
                        <p class="card-text">@Events.description</p>
                        <p>@Events.date</p>
                        <a href="#" class="btn btn-primary">Участвовать</a>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>





}
